/* ---------Single Page Website CSS by Kelly King ----------*/

*{ margin: 0 auto;
   color: #E6E6E6;
   background: #1E1E1E;
}


body {
	margin: 0 auto; 
  font-family: AvenirNextBold,apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height:2000px;
  font-size: 65%;
}

.bodyReg {
	margin: 0 auto; 
  font-family: AvenirNextBold,apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height:auto;
  font-size: 65%;
}

h1 {
  font-size:3.3em;
  margin: 16px 8px 0px 8px;
}

h2 {
  font-size:2.0em;
  margin-top:.85rem;
}

p {
  font-size: 1.7em;
  margin-top:.8rem;
}

a {
  color:#92CAF4;
  text-decoration:none;
}

li {
    font-size: 1.2em;
}

.bgCang{
  z-index:-1;
}

.over{
  margin-top : 120px;
  margin-left: 10px;
  margin-right: 10px;
  position:absolute;
  width: min(100vw,1070);
  /*flex-shrink: 1;*/
  /*overflow-x: auto;*/
  overflow-wrap: break-word;
  top:0px;
  left:0px;
  z-index:5;
  background: rgba(30,30,30,.10);
}
.over *{
  background: rgba(30,30,30,.10);
}

.shrink { margin: 0 20px 0 20px; }
@media screen and (max-width:950px){
  .page {
    width:96vw;
  }
  .over {
    width:96vw;
  }
  .projSeg {
    width:86vw;
  }
  .shrink {
    width:90vw;
  }
}

#header {
  position:fixed;
  top:0px;
  left:0px;
  background:rgb(51,51,51); 
  height:60px; 
  width:100%;
  z-index: 10;
}


#nav {
  background: rgb(51,51,51);
  font-size:1.2em;
  margin-left:35px;
  margin-top:25px;
  word-spacing:20px;
}

#nav a{
  background: rgb(51,51,51);
  font-weight: 550;
}

.page{
  position: relative;
  width:959px;
  height:910px;
  padding-top:30px;
}

#page1 {
	background:#afc9ff;
}

#page2 {
	background:#777cdc;
}

#page3 {
	background:#9b70c0;
}

#page4 {
	background:#bb209c;
    height:705px;
}

#profpic {
  margin: 5px;
  height : 150px;
  width: auto;
}
#mathpic {
  margin: 5px;
  height : 150px;
  width: auto;
}

#legend{
    font-style: italic;
    font-size: 1.1em;
}
	
.page-padding {height:40px; width:100%;}

.downArrow {font-size: 1.4em; }

.projSeg{
    margin: 10px 30px 15px 30px;
    border-left: dotted 3px #AAA;
    border-radius: 7px;
    padding: 0px 0px 0px 10px;
}

.projSeg ul{
    font-size: 1.25em;
}

.projSeg h2 a{
    color: #a2b8c5;
}

.equipment { margin: 10px 30px 10px 30px; font-size: 1.2em; width:100%; }
.stats { margin: 10px 30px 10px 30px; font-size: 1.3em; }
#fst { width : 70px; }
	
/*a:hover { text-decoration:underline;}*/
